/* CSS for blackjack.html */

body {font-family: Helvetica, Arial; font-size: 11pt; color: #33332d; background-image: url(bg_diamond_upholstery.png); background-repeat: repeat;}

#content {width:330px; margin-left: auto; margin-right: auto;}
#playerData {width: 50%; float:left;}
#playerScore {color: green;}
#dealerData {width: 50%; float:left;}
#dealerScore {color: red;}
#controls{width: 100%; clear:both; text-align:center;}
#header > h1 {width: 100%; text-align: center; text-transform: uppercase;}